* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
  font-size: 5vw;
  margin: 0;
  width: fit-content;
}
hr {
  height: 0.5vh;
  width: 50vw;
  background-color: #000;
}
#err {
  color: orange;
  margin: 0 0 0 0;
  text-align: center;
  font-size: 3.5vw;
  width: fit-content;
}
#timer {
  color: gray;
  margin: 0 0 1vh 0;
  text-align: center;
  font-size: 2.5vw;
  width: fit-content;
}
#container {
  display: grid;
  background-color: gray;
  border: 1px solid black;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: 0px;
  place-items: center;
  place-content: center;
  margin: auto;
}

.tile {
  background-color: whitesmoke;
  border: 1px solid darkgrey;
  width: 5vw;
  aspect-ratio: 1/1;
  place-self: center;
  font-size: 3vw;
  font-weight: bold;
  text-align: center;
  padding-top: 15%;
  transition: background-color 0.3s ease-in-out;
}
.tile:hover{
  background-color: aquamarine;
  color: gray;
}

.tile-selected {
  background-color: aquamarine;
}

.n02,
.n12,
.n22,
.n32,
.n42,
.n52,
.n62,
.n72,
.n82 {
  border-right: 0.4vw solid black;
}

.n20,
.n21,
.n22,
.n23,
.n24,
.n25,
.n26,
.n27,
.n28,
.n29 {
  border-bottom: 0.4vw solid black;
}

.n06,
.n16,
.n26,
.n36,
.n46,
.n56,
.n66,
.n76,
.n86 {
  border-left: 0.4vw solid black;
}

.n60,
.n61,
.n62,
.n63,
.n64,
.n65,
.n66,
.n67,
.n68 {
  border-top: 0.4vw solid black;
}

@keyframes background-fade {
  0% {
    background-color: orange;
  }
  100% {
    background-color: aquamarine;
  }
}

.tile.animating-background {
  animation: background-fade 1s;
}

#gameover-display {
  position: fixed;
  top: 50vh;
  left: 50vw;
  display: flex;
  transform: translate(-50%, -50%);
  padding: 4vh;
  background-color: orange;
  border-radius: 1.5vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  font-size: 4vw;
  text-align: center;
  flex-grow: 1;
}
#gameover-title {
  color: whitesmoke;
  font-size: 6vw;
  margin: 0;
}
#replay-button {
  padding: 1.5vh 2.5vw;
  border: 1.5vh 2.5vw;
  width: fit-content;
  height: fit-content;
  background-color: whitesmoke;
  color: red;
  border: none;
  border-radius: 1vw;
  font-size: 3vw;
  cursor: pointer;
  margin-top: 5%;
}

#errors-made {
  color: whitesmoke;
  font-size: 3vw;
  margin: 0;
}

#finish-time {
  color: whitesmoke;
  font-size: 3vw;
  margin: 0;
}

@keyframes text-fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.tile.animating-text-reverse {
  animation: text-fade 5s;
}
@keyframes text-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.tile.animating-text-reverse {
  animation: text-fade 5s;
}


#board-clone {
  display: grid;
  background-color: gray;
  border: 1px solid black;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: 0px;
  place-items: center;
  place-content: center;
  width: 10%;
  height: 10%;
  color: #000;
}

#board-clone > .tile {
  background-color: whitesmoke;
  border: 1px solid darkgrey;
  width: 2vw;
  aspect-ratio: 1/1;
  place-self: center;
  font-size: 1vw;
  font-weight: bold;
  text-align: center;
}

#board-clone > .n02,
#board-clone > .n12,
#board-clone > .n22,
#board-clone > .n32,
#board-clone > .n42,
#board-clone > .n52,
#board-clone > .n62,
#board-clone > .n72,
#board-clone > .n82 {
  border-right: 0.2vw solid black;
}

#board-clone > .n20,
#board-clone > .n21,
#board-clone > .n22,
#board-clone > .n23,
#board-clone > .n24,
#board-clone > .n25,
#board-clone > .n26,
#board-clone > .n27,
#board-clone > .n28,
#board-clone > .n29 {
  border-bottom: 0.2vw solid black;
}

#board-clone > .n06,
#board-clone > .n16,
#board-clone > .n26,
#board-clone > .n36,
#board-clone > .n46,
#board-clone > .n56,
#board-clone > .n66,
#board-clone > .n76,
#board-clone > .n86 {
  border-left: 0.2vw solid black;
}

#board-clone > .n60,
#board-clone > .n61,
#board-clone > .n62,
#board-clone > .n63,
#board-clone > .n64,
#board-clone > .n65,
#board-clone > .n66,
#board-clone > .n67,
#board-clone > .n68 {
  border-top: 0.2vw solid black;
}

#board-clone > .tile-selected {
  background-color: whitesmoke;
}

#show-button {
  width: 7vw;
  height: 7vw;
  border: 2px solid orange;
  border-radius: 50%;
  margin: 1.5vw;
  text-align: center;
  background-color: whitesmoke;
  color: gray;
  font-weight: bold;
  font-size: 1.2vw;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

#show-button:hover{
  background-color: orange;
  color: whitesmoke;
}