* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: fit-content; 
  min-height: fit-content;
}
h1 {
  text-align: center;
  font-size: 3em;
  margin: 0;
  width: fit-content;
  color: rgb(18, 46, 40);
}
hr {
  height: 0.3em;
  width: 30em;
  background-color: rgb(18, 46, 40);
}
#err {
  color: rgb(233, 110, 59);
  margin: 0 0 0 0;
  text-align: center;
  font-size: 2.5em;
  width: fit-content;
}
#timer {
  color: rgb(18, 46, 40);
  margin: 0 0 0.5em 0;
  text-align: center;
  font-size: 2em;
  width: fit-content;
}
#container {
  display: grid;
  background-color: rgb(248, 239, 197);
  border: 1px solid rgb(18, 46, 40);
  grid-template-columns: repeat(9, 1fr);
  grid-gap: 0px;
  place-items: center;
  place-content: center;
  margin: auto;
}

.tile {
  background-color: rgb(248, 239, 197);
  border: 1px solid darkgrey;
  width: 1.5em;
  aspect-ratio: 1/1;
  place-self: center;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  padding: 0;
  color: rgb(18, 46, 40);
  transition: background-color 0.3s ease-in-out;
}

.tile:hover {
  background-color: rgb(239, 201, 100);
  color: rgb(233, 110, 59);
}

.tile-selected {
  background-color: rgb(20, 104, 129);
}

.n02,
.n12,
.n22,
.n32,
.n42,
.n52,
.n62,
.n72,
.n82 {
  border-right: 0.1em solid rgb(18, 46, 40);
}

.n20,
.n21,
.n22,
.n23,
.n24,
.n25,
.n26,
.n27,
.n28,
.n29 {
  border-bottom: 0.1em solid rgb(18, 46, 40);
}

.n06,
.n16,
.n26,
.n36,
.n46,
.n56,
.n66,
.n76,
.n86 {
  border-left: 0.1em solid rgb(18, 46, 40);
}

.n60,
.n61,
.n62,
.n63,
.n64,
.n65,
.n66,
.n67,
.n68 {
  border-top: 0.1em solid rgb(18, 46, 40);
}

@keyframes background-fade {
  0% {
    background-color: rgb(233, 110, 59);
  }
  100% {
    /* background-color: rgb(20, 104, 129);  */
  }
}

.tile.animating-background {
  animation: background-fade 1s;
}

#gameover-display {
  position: fixed;
  top: 40%;
  left: 50%;
  display: flex;
  transform: translate(-50%, -50%);
  padding: 0.3em;
  background-color: rgb(233, 110, 59);
  border-radius: 0.4em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(248, 239, 197);
  font-size: 2em;
  text-align: center;
  flex-grow: 1;
}
#gameover-title {
  color: rgb(248, 239, 197);
  font-size: 2em;
  margin: 0;
}
#replay-button {
  padding: 0.3em 0.5em;
  border: 2px solid rgb(18, 46, 40);
  width: fit-content;
  min-width: 50%;
  background-color: rgb(248, 239, 197);
  color: rgb(233, 110, 59);
  border-radius: 0.3em;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  margin: 5%;
}

#replay-button:hover {
  background-color: rgb(239, 201, 100);
  color: rgb(20, 104, 129);
}

#errors-made {
  color: rgb(248, 239, 197);
  font-size: 1em;
  margin: 0;
}

#difficulty-lvl {
  color: rgb(248, 239, 197);
  font-size: 0.7em;
  margin: 0;
}

#finish-time {
  color: rgb(248, 239, 197);
  font-size: 0.7em;
  margin: 0;
}

@keyframes text-fade {
  0% {
    color: rgb(18, 46, 40);
  }
  100% {
    color: transparent;
  }
}

.animating-text {
  animation: text-fade 3s;
}
@keyframes text-fade {
  0% {
    color: transparent;
  }
  100% {
    color: rgb(18, 46, 40);
  }
}

#board-clone {
  display: grid;
  background-color: rgb(248, 239, 197);
  border: 1px solid rgb(18, 46, 40);
  grid-template-columns: repeat(9, 1fr);
  grid-gap: 0px;
  place-items: center;
  place-content: center;
  width: 10%;
  height: 10%;
  color: rgb(18, 46, 40);
}

#board-clone > .tile {
  background-color: rgb(248, 239, 197);
  border: 1px solid darkgrey;
  width: 2em;
  aspect-ratio: 1/1;
  place-self: center;
  font-size: 0.4em;
  font-weight: bold;
  text-align: center;
}

#board-clone > .n02,
#board-clone > .n12,
#board-clone > .n22,
#board-clone > .n32,
#board-clone > .n42,
#board-clone > .n52,
#board-clone > .n62,
#board-clone > .n72,
#board-clone > .n82 {
  border-right: 0.15em solid rgb(18, 46, 40);
}

#board-clone > .n20,
#board-clone > .n21,
#board-clone > .n22,
#board-clone > .n23,
#board-clone > .n24,
#board-clone > .n25,
#board-clone > .n26,
#board-clone > .n27,
#board-clone > .n28,
#board-clone > .n29 {
  border-bottom: 0.15em solid rgb(18, 46, 40);
}

#board-clone > .n06,
#board-clone > .n16,
#board-clone > .n26,
#board-clone > .n36,
#board-clone > .n46,
#board-clone > .n56,
#board-clone > .n66,
#board-clone > .n76,
#board-clone > .n86 {
  border-left: 0.15em solid rgb(18, 46, 40);
}

#board-clone > .n60,
#board-clone > .n61,
#board-clone > .n62,
#board-clone > .n63,
#board-clone > .n64,
#board-clone > .n65,
#board-clone > .n66,
#board-clone > .n67,
#board-clone > .n68 {
  border-top: 0.15em solid rgb(18, 46, 40);
}

#board-clone > .tile-selected {
  background-color: rgb(248, 239, 197);
}
#button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 1.5em;
  gap: 1em;
}
#show-button {
  width: 40%;
  height: 3em;
  border: 2px solid rgb(18, 46, 40);
  border-radius: 0.3em;
  margin: 0;
  text-align: center;
  background-color: rgb(248, 239, 197);
  color: rgb(233, 110, 59);
  font-weight: bold;
  font-size: 1em;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

#show-button:hover {
  background-color: rgb(239, 201, 100);
  color: rgb(20, 104, 129);
}

#restart-button {
  width: 40%;
  height: 3em;
  border: 2px solid rgb(18, 46, 40);
  border-radius: 0.3em;
  margin: 0;
  text-align: center;
  background-color: rgb(248, 239, 197);
  color: rgb(233, 110, 59);
  font-weight: bold;
  font-size: 1em;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

#restart-button:hover {
  background-color: rgb(239, 201, 100);
  color: rgb(20, 104, 129);
}

#start-display {
  position: fixed;
  top: 40%;
  left: 50%;
  display: flex;
  transform: translate(-50%, -50%);
  padding: 0.3em;
  background-color: rgb(233, 110, 59);
  border-radius: 0.4em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(248, 239, 197);
  font-size: 2em;
  text-align: center;
  flex-grow: 1;
}

#start-title {
  color: rgb(248, 239, 197);
  font-size: 2em;
  margin: 0;
}

#info-text {
  color: rgb(248, 239, 197);
  font-size: 1em;
  margin: 0;
}

#easy-button,
#medium-button,
#hard-button,
#insane-button {
  padding: 0.3em 0.5em;
  border: 2px rgb(18, 46, 40) solid;
  border-radius: 0.3em;
  width: fit-content;
  min-width: 60%;
  background-color: rgb(248, 239, 197);
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  margin-top: 5%;
}

#easy-button {
  color: rgb(239, 201, 100);
}
#medium-button {
  color: rgb(20, 104, 129);
}
#hard-button {
  color: rgb(18, 46, 40);
}
#insane-button {
  color: #7f0907;
  margin-bottom: 5%;
}

#easy-button:hover {
  background-color: rgb(239, 201, 100);
  color: rgb(248, 239, 197);
}
#medium-button:hover {
  background-color: rgb(20, 104, 129);
  color: rgb(248, 239, 197);
}
#hard-button:hover {
  background-color: rgb(18, 46, 40);
  color: rgb(248, 239, 197);
}
#insane-button:hover {
  background-color: #7f0907;
  color: rgb(248, 239, 197);
}

#num-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 1.5em;
  gap: 0.5em;
}

#num-1,
#num-2,
#num-3,
#num-4,
#num-5,
#num-6,
#num-7,
#num-8,
#num-9,
#mute-button {
  width: fit-content;
  height: fit-content;
  min-width: 10%;
  aspect-ratio: 1/1;
  border: 2px solid rgb(18, 46, 40);
  border-radius: 0.3em;
  margin: 0;
  text-align: center;
  background-color: rgb(248, 239, 197);
  color: rgb(233, 110, 59);
  font-weight: bold;
  font-size: 1em;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

#easy-icon,
#medium-icon,
#hard-icon,
#insane-icon {
  width: 20px;
  height: 20px;
}

#title-icon {
  padding-top: 10px;
  width: 40px;
}
